/*Exercise 5D*/


		p{
			text-align: center;
			font-family: arial;
		}
		.shop{
			font-weight: bold;
			font-size: 28px;
			margin-bottom: 10px;
		}
		.learn{
			color: blue;
			cursor: pointer;
			transition: text-decoration 0.15s;
		}
		.learn:hover{
			text-decoration: underline;
		}
