/*Exercise 5F*/


		p{
			font-family: arial;
			margin: 8px 0px 8px 0px;
		}
		
		.amount{
			font-size: 32px;
		}
		
		.currency{
			color: grey;
			font-size: 15px;
		}
		
		.gain{
			color: green;
		}
		
		.close{
		color: grey;
		}
		
		.lost{
		color: red;
		}
		
