/*Exercise 5*/


		p{
			font-family: arial;
			margin: 0px 0px 0px 0px;
		}
		
		.name{
			font-weight: bold;
			color: black;
		}
		
		.user{
			color: grey;
			margin-bottom: 10px;
		}
		
		.text{
			width: 550px;
			margin-bottom: 20px;
			line-height: 24px;
		}
		
		.chp{
			color: rgb(46, 144, 224);
			cursor: pointer;
		}
