/*Exercise 5E*/

	
		p{
			text-align: center;
			font-family: arial;
			margin: 0px 0px 0px 0px;
		}
		
		.new{
		color: rgb(245, 99, 0);
		margin-bottom: 10px;
		}
		
		.macbook{
			font-weight: bold;
			font-size: 26px;
			margin-bottom: 5px;
		}
		
		.super{
			font-weight: bold;
			font-size: 44px;
			margin-bottom: 14px;
		}
		
		.price{
		margin: 10px 0px 24px 0px;
		margin-bottom: 26px;
		}
		
		.buy{
			 background-color: rgb(0, 113, 227);
			 color: white;
			 padding: 7px 15px 7px 15px;
			 border-radius: 30px;
			 font-weight: bold;
			 cursor: pointer;
		}
		
